<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Navigation Bar -->
    <nav th:replace="~{fragments/navigation}"></nav>
    <!-- Header -->
    <div th:replace="~{fragments/header}"></div>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{login.title}">Login</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<style>
    body {
        background: url('/images/themes/img.png') no-repeat center fixed;
        background-size: cover;
    }
</style>
<body>
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="bg-light p-4 rounded shadow-sm" style="max-width: 400px; width: 100%;">
        <h2 class="text-center mb-4 text-dark font-weight-bold text-uppercase" th:text="#{login.title}">Login</h2>
        <form th:action="@{/users/login}" method="POST">
            <div class="form-group">
                <label for="email" class="font-weight-bold text-secondary" th:text="#{login.username}">Username</label>
                <input type="text" class="form-control form-control-lg" id="email" name="email" th:placeholder="#{login.username}" th:value="${email}" required>
            </div>
            <div class="form-group">
                <label for="password" class="font-weight-bold text-secondary" th:text="#{login.password}">Password</label>
                <input type="password" class="form-control form-control-lg" id="password" name="password" th:placeholder="#{login.password}" required>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="rememberme" name="rememberme">
                <label class="form-check-label font-weight-bold text-dark" for="rememberme" th:text="#{login.rememberMe}">Remember me</label>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-info btn-lg btn-block" th:value="#{login.submit}" value="Login"/>
            </div>
            <div class="d-flex justify-content-center mt-2">
                <small th:if="${bad_credentials}" th:text="#{login.invalidCredentials}" class="text-danger"></small>
            </div>
        </form>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
